<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAxOUsKnJv9xzrgY0BcWBT0qYPQYO6ZzX0</string>
	<key>GCM_SENDER_ID</key>
	<string>651065993600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.interProjects</string>
	<key>PROJECT_ID</key>
	<string>internationalprojects-43114</string>
	<key>STORAGE_BUCKET</key>
	<string>internationalprojects-43114.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:651065993600:ios:6e638b2c9f2e257bc1b965</string>
</dict>
</plist>